<div class="container mt-5">
  <h1 class="mb-4">Lista de Tarefas</h1>

  <% if @tasks.any? %>
    <% @tasks.each_with_index do |task, index| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= "#{index + 1}. #{task.name}" %></h5>
          <p class="card-text">
            Alarme: <%= task.alarm_time ? task.alarm_time.strftime("%d/%m/%Y %H:%M") : "Sem alarme" %>
          </p>
          <%= link_to 'Editar', edit_task_path(task), class: "btn btn-warning btn-sm" %>
          <%= link_to 'Excluir', task, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-sm" %>
        </div>
      </div>
    <% end %>
    
    <!-- Paginação das tarefas -->
    <div class="d-flex justify-content-center">
      <%= paginate @tasks %>
    </div>
  <% else %>
    <p class="text-center">Nenhuma tarefa encontrada.</p>
  <% end %>

  <div class="mt-4">
    <%= link_to 'Nova Tarefa', new_task_path, class: "btn btn-primary" %>
    <%= link_to 'Mostrar Tarefas com Alarme', tasks_path(with_alarm: true), class: "btn btn-info ml-2" %>
  </div>
</div>

